@import '../core/variables.scss';

.container {
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 0px 5px 1px grey;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  @media all and (min-width: 768px) {
    width: 320px;
    box-shadow: 0px 0px 20px 4px grey;
  }
  @media all and (min-width: 1024px) {
    width: 320px;
    box-shadow: 0px 0px 40px 8px grey;
  }
  &__image {
    width: 100%;
    height: 165px;
    border-radius: 10px 10px 0 0;
    @media all and (min-width: 768px) {
      height: 200px;
    }
    @media all and (min-width: 1024px) {
      height: 220px;
    }
  }
  &__info {
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media all and (min-width: 768px) {
      height: 190px;
    }
    @media all and (min-width: 1024px) {
      height: 180px;
      padding: 10px 20px 10px 20px;
    }

    &--title {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0px;
      text-align: left;
      @media all and (min-width: 768px) {
        font-size: 22px;
      }
      @media all and (min-width: 1024px) {
        font-size: 26px;
      }
    }
    &--text {
      font-size: 14px;
      color: #272727;
      text-align: justify;
      @media all and (min-width: 768px) {
        font-size: 18px;
      }
      @media all and (min-width: 1024px) {
        font-size: 20px;
      }
    }
    &--tech {
      font-size: 11px;
      color: $dark-brown;
      border-radius: 20px;
      padding: 2px;
      width: fit-content;
      text-decoration: underline;
      font-style: italic;
      @media all and (min-width: 768px) {
        font-size: 16px;
      }
      @media all and (min-width: 1024px) {
        font-size: 18px;
      }
    }
  }
  &__buttons {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    @media all and (min-width: 768px) {
      padding: 0 0 10px 0;
    }
    @media all and (min-width: 1024px) {
      padding: 0 0 10px 0;
    }
    &--link {
      text-decoration: none;
      background-color: $my-green;
      padding: 8px 35px 8px 35px;
      border-radius: 20px;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1.5px;
      cursor: pointer;
      transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      @media all and (min-width: 768px) {
        font-size: 14px;
        padding: 10px 35px 10px 35px;
      }
      @media all and (min-width: 1024px) {
        font-size: 18px;
        // padding: 12px 35px 12px 35px;
      }
    }
    &--link:hover {
      transform: scale(1.2);
      -moz-transform: scale(1.2); /* Firefox */
      -webkit-transform: scale(1.2); /* Chrome - Safari */
    }
  }
}
