@import '../core/variables.scss';

.projects {
  font-family: $main-font;
  background-color: $desert-storm;
  padding: 150px 0;
  &__list {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    @media all and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    @media all and (min-width: 1024px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;
    }
  }
}
